name: build
on:
  merge_group:
  pull_request:
  push:
env:
  CARGO_TERM_COLOR: always
jobs:
  default:
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v3
    - name: toolchain
      uses: dtolnay/rust-toolchain@master
      with:
        toolchain: stable
        components: rustfmt, rust-docs, clippy
    - name: test
      run: cargo test
    - name: clippy
      run: cargo clippy --tests --examples -- -D clippy::all -D clippy::pedantic -D clippy::nursery
    - name: doc
      run: cargo doc
    - name: tex
      run: cargo tex
    - name: fmt
      run: cargo fmt --check
